<div class="projects">

  <h3><%= link_to "ShowGo Placeholder", "http://mixolidia.github.io/showgo/", :target => "_blank", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/showgo", :target => "_blank", :class=>"pgl" %></h3>
  <p>
    The <%= link_to "ShowGo", "http://discovershowgo.com", :target => "_blank", :class=>"ng" %> placeholder is live online at <%= link_to "discovershowgo.com", "http://discovershowgo.com", :target => "_blank", :class=>"ng" %>.
    This page was created while ShowGo app is under constructions. It collects emails for beta testing new site.
    </p>

  <h3><%= link_to "My Portfolio: Mixolidia.com", "http://mixolidia.com/", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/mixolidia", :target => "_blank", :class=>"pgl" %></h3>
  <p>Portfolio site using RoR, JavaScript, JQuery, BootStrap. Just a little site to play with some things and see what works.</p>

</div><!--projects-->
