<div class="projects">

  <!-- <h3><%= link_to "Coders' Cards", "#", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "#", :target => "_blank", :class=>"pgl" %></h3>
  <p>Developer trading cards commerce site.</p>

  <h3><%= link_to "Where Ma Blog At?!", "#", :target => "_blank", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/wheremacodeat", :target => "_blank", :class=>"pgl" %></h3>
  <p>Database, in page editor, administrators.</p> -->

  <h3><%= link_to "ShowGo Placeholder", "http://mixolidia.github.io/showgo/", :target => "_blank", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/showgo", :target => "_blank", :class=>"pgl" %></h3>
  <p>
    The <%= link_to "ShowGo", "http://discovershowgo.com", :target => "_blank", :class=>"ng" %> placeholder is live online.
    This page was created while ShowGo app is under constructions. It collects emails for beta testing new site.
    </p>
<!--
  <h3><%= link_to "Shipping API", "#", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/shipping-api-Mixolidia-Gautreaux", :target => "_blank", :class=>"pgl" %></h3>
  <p>Created shipping API for mock toy store.</p>

  <h3><%= link_to "The Ada Garden Collective for Lady Programmers", "#", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/p-patch-MediumSlateBlue", :target => "_blank", :class=>"pgl" %></h3>
  <p>Using Risque, Google Calendar, PostGres, RoR for mock community garden planner.</p> -->

  <h3><%= link_to "My Portfolio: Mixolidia.com", "http://mixolidia.com/", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/mixolidia", :target => "_blank", :class=>"pgl" %></h3>
  <p>Portfolio site using RoR, JavaScript, JQuery, BootStrap.</p>

</div><!--projects-->
