<div class="projects">

  <h3><%= link_to "exercism Five a Day", "http://exercism.io/", :target => "_blank", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/exercistas/exercism.io", :target => "_blank", :class=>"pgl" %></h3>
  <p>
    While participating in <%= link_to "Rails Girls Summer of Code 2015", "http://railsgirlssummerofcode.org/blog/2015-06-04-2015-teams/", :target => "_blank", :class=>"ng" %> I worked on <%= link_to "exercism", "http://exercism.io/", :target => "_blank", :class=>"ng" %>.
    One of my tasks while in <%= link_to "RGSoC", "http://railsgirlssummerofcode.org/", :target => "_blank", :class=>"ng" %>,  was to implement the back-end of a feature which suggested five exercises to logged-in users for review. This feature was to entice conversation between users. My teammate and I also became part of exercism core team and continue working on streamlining the on-boarding process for new users. 
    To read more about our time in RGSoC read our <em><%= link_to "Exercistas Say Goodbye", "http://railsgirlssummerofcode.org/blog/2015-09-30-exercistas-say-goodbye/", :target => "_blank", :class=>"ng" %></em> blog post for Rails Girls Summer of Code.
  </p>

  <h3><%= link_to "ShowGo Placeholder", "http://mixolidia.github.io/showgo/", :target => "_blank", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/showgo", :target => "_blank", :class=>"pgl" %></h3>
  <p>
    The <%= link_to "ShowGo", "http://discovershowgo.com", :target => "_blank", :class=>"ng" %> placeholder was online at <%= link_to "discovershowgo.com", "http://discovershowgo.com", :target => "_blank", :class=>"ng" %>.
    This page was created while ShowGo app was under constructions. It collected emails for beta testing the new website.
  </p>

  <h3><%= link_to "My Portfolio: Mixolidia.com", "http://mixolidia.com/", :class=>"ng" %>
    &nbsp;<%=link_to image_tag("github-6-16.png"), "https://github.com/mixolidia/mixolidia", :target => "_blank", :class=>"pgl" %></h3>
  <p>Portfolio site using RoR, JavaScript, JQuery, BootStrap.  Just a little site to play with some things and see what works.</p>

</div><!--projects-->
