<!DOCTYPE html>
<html>
  <head>
    <title>Mixolidia Gautreaux</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,900italic,700italic,800italic' rel='stylesheet' type='text/css'>

    <meta name="author" content "Mixolidia Gautreaux" />
    <meta name="description" content="Mixolidia Gautreaux is a full-stack junior developer. Ruby, Rails, JavaScript, JQuery, HTML, CSS, Agile, TDD, CRUD." />
  </head>
  <body>
    <div class="container-fluid">
      <div class="header">
        <div class="name">
          <h1>
            Mixolidia<br />
             Gautreaux<br />
            <!-- <%#= link_to "Mixolidia", home_path %><br />
            <%#= link_to"Gautreaux", home_path %> -->
          </h1>
        </div><!--name-->

        <div class="contact">
          <div class="g">
            <%=link_to image_tag("github-6-16.png", alt: "Mixolidia's GitHub"), "https://github.com/mixolidia", :target => "_blank" %>
          </div>
          <div class="l">
            <%=link_to image_tag("linkedin-16.png", alt: "Mixolidia's LinkedIn"), "https://www.linkedin.com/in/mixolidia", :target => "_blank" %>
          </div>
          <div class="t">
            <%=link_to image_tag("twitter-16.png", alt: "@mix, Mixolidia's Twitter"), "https://twitter.com/mix", :target => "_blank" %>
          </div>
          <div class="c">
            <%=link_to image_tag("paper-16.png", alt: "Mixolidia's CV"), home_test_pdf_path %>
          </div>
          <div class="e">
            <%= mail_to "info@mixolidia.com", raw(image_tag("email-5-24.png", alt: "Email Mixolidia")) %>
          </div>
        </div><!--contact-->

      </div><!--header-->

      <div class="content">
        <%= yield %>
      </div><!--content-->
    </div><!--container-fluid-->
  </body>
</html>
